@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #0AB0BF, #20C9A9, #6BFFB8, #ABFFBF, #F2FFF0);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0e5f5077;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #0AB0BF;
    text-align: center;
    text-shadow: 1px 1px 2px #066770a1;
}

h2 {
    color: #20C9A9;
}

p {
    text-align: justify;
}